.a-forms{
    margin-top: 100px;
}
.a-forms form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.a-forms-label{
    font-size: 1.5em;
}
.a-forms-input-text{
    margin-left: 5px;
    width: 200px;
} 
.a-forms-button{
    width: 200px;
    height: 25px;
    margin: 5px;
    background-color: #ddd;
    border: 1px black solid;
    border-radius: 5px;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    text-align: center;
}
.a-forms-button:hover{
    border-color: #3AAFB9;
    cursor: pointer;
}
.a-forms-input-text{
    font-size: 18px;
    border: 1px black solid;
    border-radius: 8px;
}
.a-forms-info{
    background-color: #ddd;
    font-size: 1.2em;
    margin-left: 10px;
}
.radio-funcao label{
    margin: 0px 2px;
}