.a-forms-content{
    position: absolute;
    display: block;
    height: calc(100vh - 70px);
    width: 100%;
}

.a-forms, .decor{
    float: left;
    width: 50%;
    height: 100%;
    border-left: 1px black solid;
    border-right: 1px black solid;
}

.decor img{
    position: relative;
    transform: translate(5%, 5%);
    width: 90%;
}
