.pages-list{
    display: block;
    padding-left: 10px;
}
.pages-list li{
    background-color: #3AAFB9;
    color: #ddd;
    margin: 10px 0px;
    list-style: none;
    text-align: center;
    font-size: 44px;
    font-weight: 500;
    width: calc(100% - 10px);
    height: 50px;
}
.pages-list li:hover{
    cursor: pointer;
}