.login{
    margin-top: 100px;
}
.login form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-label{
    font-size: 1.5em;
}
.login-input-text{
    margin-left: 5px;
} 
.login-button{
    width: 200px;
    height: 25px;
    margin: 5px;
    background-color: #ddd;
    border: 1px black solid;
    border-radius: 5px;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    text-align: center;
}
.login-button:hover{
    border-color: #3AAFB9;
    cursor: pointer;
}
.login-input-text{
    font-size: 18px;
    border: 1px black solid;
    border-radius: 8px;
}
/* Register */
/* .radio-funcao{
    grid-row: row-radios / span 2;
} */
.radio-funcao label{
    margin: 0px 2px;
}