.ver-tanques{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: stretch;
    margin-top: 20px;
}
.tanque-content{
    width: 100vw;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.tanque-left table{
    border: solid black 1px;
    background-color: #ccc;
    height: 100%;
}
.setas-e-video{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.setas-e-video iframe{
    margin: 0px 10px;
}
.tanque-info table{
    width: 100%;
    border: 1px solid black;
    margin-top: 5px;
}
.tanque-info td{
    text-align: center;
}
.arrow{
    width: 80px;
    height: 80px;
    background-color: grey;
    font-size: 70px;
    font-weight: 700;
    color: #ddd;
    text-align: center;
    border: 2px solid black;
    border-radius: 50%;
}
.arrow:hover{
    cursor: pointer;
}